/**
* @desc         address component styles
* @requires     variables, mixins
*/

.address {
  @include flex-column;
  gap: $component-gap;

  &__item {
    @include flex-row;
    align-items: center;
    gap: $component-gap;
  }

  &__icon {
    color: $primary-color;
  }

  &__title {
    font-family: $ff-semibold;
    color: black;
  }

  &__subtitle {
    color: $secondary-color;
  }
}
