/**
* @desc         expertise component styles
* @requires     variables, mixins
*/

.expertise {
  @include flex-column;
  gap: $component-gap;

  font-family: $ff-regular;
  font-size: $fs-regular;

  &__item {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  &__title {
    font-family: $ff-bold;
    font-weight: $fw-bold;
  }

  &__subtitle {
    color: $secondary-color;
  }

  &__description {
    font-size: $fs-little;
  }

  &__company,
  &__position {
    @include flex-column;
    gap: $item-gap;
  }
}
