/**
* @desc         feedback component styles
* @requires     variables, mixins
*/

.feedback {
  @include flex-column;
  gap: $component-gap;

  &__item {
    @extend .feedback;
    gap: $feedback-gap;
  }

  &__reporter {
    @include flex-row;
    align-items: center;
    gap: $feedback-reports-gap;

  }

  &__name {
    font-size: $fs-small;
  }

  &__cite {
    color: $primary-color;
  }
}
