/**
* @desc         navigation component styles
* @requires     variables, mixins
*/

.nav {
  @include flex-column;
  gap: $nav-gap;

  background: $dark-color;

  &__item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    gap: $item-gap;

    color: $secondary-color;

    @include breakpoint($lg) {
      @include flex-row;
      @include flex-center;
    }

    &--active {
      color: $primary-color;
    }

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  &__text {
    @include breakpoint($lg) {
      display: none;
    }
  }
}

//.sidebar {
//  width: 200px;
//  height: 100vh;
//  background-color: #f1f1f1;
//
//}


