/**
* @desc         panel component styles
* @requires     variables, mixins
*/

.panel {
  position: relative;

  @include flex-column;
  justify-content: space-between;

  width: $panel-desktop-width;
  height: 100vh;

  font-size: $fs-little;
  font-family: $ff-regular;

  background: $dark-color;

  transition: transform 0.8s ease-in-out;

  @include breakpoint($lg) {
    width: $panel-mobile-width;
  }

  &__content,
  &__go-back {
    padding: $panel-padding;
  }

  &__content,
  &__profile {
    @include flex-column;
  }

  &__go-back,
  &__hamburger {
    @include flex-row;
    @include flex-center;
  }

  &__go-back,
  &__fullname {
    color: $light-color!important;

    @include breakpoint($lg) {
      display: none;
    }
  }

  &__content {
    gap: $panel-content-gap;
  }

  &__profile {
    align-items: center;
    gap: $item-gap;
  }

  &__avatar {
    width: 3 * $fs-xxlarge;
    height: 3 * $fs-xxlarge;

    @include breakpoint($lg) {
      width: $fs-xxlarge;
      height: $fs-xxlarge;
    }
  }

  &__wrapper {
    @include flex-row;
    @include flex-center;

    @include breakpoint($lg) {
      @include flex-row;
      @include flex-center;

      height: $fs-xxlarge;
      width: 1.3 * $fs-xxlarge;

      border-radius: $button-border-radius;

      background: $primary-color;
    }
  }

  &__hamburger {
    position: absolute;
    top: 2%;
    right: -$hamburger-width;

    width: $hamburger-width;
    height: $hamburger-height;

    border-bottom-right-radius: $button-border-radius;
    border-top-right-radius: $button-border-radius;

    background: $dark-color;

    cursor: pointer;

    svg {
      color: $light-color;
    }
  }

  &__go-back {
    gap: $greeting-gap;

    &--desktop {
      @include breakpoint($lg) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include breakpoint($lg) {
        @include flex-row;

        padding: 0 0 $fs-little;
      }
    }
  }

  &.closed {
    transform: translateX(-$panel-desktop-width);

    @include breakpoint($lg) {
      transform: translateX(-$panel-mobile-width);
    }
  }

}
