/**
* @desc         portfolio component styles
* @requires     variables, mixins
*/

.portfolio {
  font-size: $fs-large;

  &__tabs {
    @include container;
  }

  &__tab {
    cursor: pointer;

    &--active {
      color: $primary-color
    }

    &:not(:last-child):after {
      content: '/';
      color: black;
      margin-left: $fs-xsmall;
    }
  }

  &__items {
    @include container;

    height: auto !important;
  }

  &__item {
    position: static !important;

    width: $card-width;
  }

  &__card {
    position: relative;

    border: 2px solid $light-color;

    width: 100%;
  }

  &__card-content {
    &:hover .portfolio__hover-content {
      border: 2px solid $silver-color;

      height: 99%;
    }
  }

  &__hover-content {
    position: absolute;
    bottom: 3px;
    left: 0;
    overflow: hidden;

    @include flex-column;
    justify-content: center;
    gap: $item-gap;

    width: 100%;
    height: 0;

    background-color: $light-color;

    transition: height 0.3s ease;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  &__title,
  &__description,
  &__highlight {
    padding: 0 $fs-small;
  }

  &__title,
  &__highlight {
    color: $primary-color;
  }

  &__description,
  &__highlight {
    font-size: $fs-xsmall;
  }

  &__title {
    font-size: $fs-small;
  }

  &__highlight {
    text-decoration: underline;
  }
}
