/**
* @desc         skills component styles
* @requires     variables, mixins
*/

.skills {
  &__edit {
    width: 100%;
    padding: $block-padding;

    border: $primary-border;
    border-radius: $skills-edit-border-radius;
  }

  &__form {
    & > button {
      width: $button-width !important;
    }
  }

  &__form-group {
    @include flex-column;
    gap: $form-gap;

    margin-bottom: $fs-little;
  }

  &__input-group {
    @include flex-row;
    align-items: center;

  }

  &__label {
    width: $label-width;

    font-family: $ff-regular;
    font-size: $fs-little;
  }

  &__input {
    height: $fs-xxlarge;
    padding: $input-padding;

    border: $secondary-border;
    border-radius: $button-border-radius;

    font-family: $ff-regular;
    font-size: $fs-small;

    &--error {
      border-color: $error-color;
    }
  }

  &__error {
    font-family: $ff-regular;
    font-size: $fs-xsmall;
    color: $error-color;
  }

  &__wrapper {
    @include flex-column;
    gap: $skills-gap;
  }

  &__item {
    @include flex-row;
    align-items: center;

    width: 100%;
    height: $fs-xlarge;

    background: $primary-color;

    font-size: $fs-regular;
    color: white;
  }

  &__text {
    padding: $skills-item-padding;
  }

  &__diagram {
    @extend .skills__wrapper;
  }

  &__roadmap {
    display: flex;
    justify-content: space-between;
  }

  &__level {
    width: 100%;
    height: $fs-xsmall;

    border-bottom: $secondary-border;
    border-left: $secondary-border;

    &:last-child {
      border-right: $secondary-border;
    }
  }

  &__grade {
    width: 50%;

    font-size: $fs-small;
    color: $secondary-color;

    &:nth-child(2), &:nth-child(3) {
      width: 100%;
      text-align: center;
    }

    &:last-child {
      text-align: right;
    }
  }

  &__grade, &__item {
    font-family: $ff-light;
  }
}
