/**
* @desc         timeline component styles
* @requires     variables, mixins
*/

$line-left: 5px;
$line-width: 4px;
$space: 22px;

.timeline {
  position: relative;
  overflow: auto;

  min-height: 30vh;
  max-height: 80vh;

  &__list,
  &__date,
  &__info {
    padding: $timeline-padding;
  }

  &__list {
    position: relative;

  }

  &__item {
    @include flex-row;
    align-items: flex-start;

    margin-bottom: $timeline-margin;
  }

  &:before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: $line-left;

    width: $line-width;
    margin-left: $timeline-margin;

    background: #26c17e;
  }

  &__date {
    position: relative;
    left: -$space;

    font-family: $ff-regular;
    font-size: $fs-little;

    background: #fff;
  }

  &__event {
    position: relative;
  }

  &__info {
    background: #eee;

    &:after {
      content: "";
      position: absolute;
      top: $space;
      left: -($line-left + $line-width);

      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #eee;
    }
  }
}
