/**
* @desc         title component styles
* @requires     variables, mixins
*/

.title {
  @include flex-row;
  align-items: center;
  justify-content: space-between;


  &__text {
    color: $primary-color;
  }
}
