/**
* @desc         button component styles
* @requires     variables, mixins
*/

.button {
  @include flex-row;
  @include flex-center;
  gap: $item-gap;

  padding: $button-padding;

  border: none;
  border-radius: $button-border-radius;

  background: $dark-color;

  font-family: $ff-regular;
  font-size: $fs-little;
  color: $light-color;

  cursor: pointer;

  transition: background .2s;

  &:hover {
    background: $primary-color;
  }

  &--active {
    background: $primary-color!important;
  }

  &--disabled {
    background: $secondary-color;
    color: black;
  }
}
