/**
* @desc         info component styles
* @requires     variables, mixins
*/

.info {
  @include flex-column;
  gap: $item-gap;

  padding: $block-padding;

  background: $silver-color;


  &__title {
    font-size: $fs-regular;
    font-family: $ff-semibold!important;
  }

  &__text {
    font-size: $fs-little;
  }
}
