/**
* @desc         loader component styles
* @requires     variables, mixins
*/

.loader {
  color: $primary-color;

  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
