/**
* @desc         greeting module styles
* @requires     variables, mixins
*/

.greeting {
  @include flex-column;
  @include flex-center;
  gap: $greeting-gap;

  max-width: $greeting-max-width;
  height: 100vh;
  margin: auto;
  padding: $greeting-padding;

  text-align: center;
  color: white;


  &__fullname {
    font-family: $ff-semibold;
    font-weight: $fw-light;
  }

  &__position {
    font-family: $ff-medium;
    font-weight: $fw-medium;
  }

  &__description {
    font-family: $ff-regular;
  }
}
