/**
* @desc         reset styles
* @requires     none
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time,
mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details,
figcaption, figure,
footer, header, hgroup,
menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

ol, ul, li {
  list-style-type: none !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

/**
* @desc         adds default text styles
* @requires     none
*/
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansBold";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansMedium";
  src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansLight";
  src: url("/fonts/OpenSans-Light.ttf") format("truetype");
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

/**
* @desc         animations
* @requires     none
*/
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/**
* @desc         set up variables.
* @requires     none
*/
/**
* @desc         mixins of the app.
* @requires     none
*/
html ::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: transparent;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8);
  background-color: transparent;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #26C17E;
}

/**
* @desc         app styles
* @requires     variables, mixins, placeholders
*/
:root {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  display: flex;
}
.app--home {
  align-items: center;
  justify-content: center;
  background: url("/images/greetingBg.png") no-repeat center;
  background-size: cover;
}
.app .scroll-to-top-button {
  position: fixed;
  bottom: 0;
  right: 3.2rem;
  z-index: 99;
  padding: 1.2rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: #222935;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex-grow: 1;
  overflow-y: scroll;
  width: 60vw;
  height: 100vh;
  padding: 1.8rem 4rem;
  transition: margin-left 0.8s ease-in-out;
}

.main-content.expanded {
  margin-left: -25rem;
}
@media screen and (max-width: 992px) {
  .main-content.expanded {
    margin-left: -6rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

h1 {
  font-size: 4.5rem;
}

h3 {
  font-family: "OpenSansBold", sans-serif;
  font-size: 2.8rem;
}

p {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
}

/**
* @desc         greeting module styles
* @requires     variables, mixins
*/
.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 65rem;
  height: 100vh;
  margin: auto;
  padding: 0 1.6rem;
  text-align: center;
  color: white;
}
.greeting__fullname {
  font-family: "OpenSansSemiBold", sans-serif;
  font-weight: 300;
}
.greeting__position {
  font-family: "OpenSansMedium", sans-serif;
  font-weight: 500;
}
.greeting__description {
  font-family: "OpenSansRegular", sans-serif;
}

/**
* @desc         panel component styles
* @requires     variables, mixins
*/
.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "OpenSansRegular", sans-serif;
  background: #222935;
  transition: transform 0.8s ease-in-out;
}
@media screen and (max-width: 992px) {
  .panel {
    width: 6rem;
  }
}
.panel__content, .panel__go-back {
  padding: 1.6rem;
}
.panel__content, .panel__profile {
  display: flex;
  flex-direction: column;
}
.panel__go-back, .panel__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel__go-back, .panel__fullname {
  color: #FFFFFF !important;
}
@media screen and (max-width: 992px) {
  .panel__go-back, .panel__fullname {
    display: none;
  }
}
.panel__content {
  gap: 4.8rem;
}
.panel__profile {
  align-items: center;
  gap: 1.2rem;
}
.panel__avatar {
  width: 9.6rem;
  height: 9.6rem;
}
@media screen and (max-width: 992px) {
  .panel__avatar {
    width: 3.2rem;
    height: 3.2rem;
  }
}
.panel__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .panel__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.2rem;
    width: 4.16rem;
    border-radius: 0.5rem;
    background: #26C17E;
  }
}
.panel__hamburger {
  position: absolute;
  top: 2%;
  right: -3.2rem;
  width: 3.2rem;
  height: 3.2rem;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: #222935;
  cursor: pointer;
}
.panel__hamburger svg {
  color: #FFFFFF;
}
.panel__go-back {
  gap: 2.5rem;
}
@media screen and (max-width: 992px) {
  .panel__go-back--desktop {
    display: none;
  }
}
.panel__go-back--mobile {
  display: none;
}
@media screen and (max-width: 992px) {
  .panel__go-back--mobile {
    display: flex;
    padding: 0 0 1.6rem;
  }
}
.panel.closed {
  transform: translateX(-25rem);
}
@media screen and (max-width: 992px) {
  .panel.closed {
    transform: translateX(-6rem);
  }
}

/**
* @desc         navigation component styles
* @requires     variables, mixins
*/
.nav {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  background: #222935;
}
.nav__item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  color: #667081;
}
@media screen and (max-width: 992px) {
  .nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.nav__item--active {
  color: #26C17E;
}
.nav__item svg {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .nav__text {
    display: none;
  }
}

/**
* @desc         box component styles
* @requires     variables, mixins
*/
.box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.box__title {
  color: #26C17E;
}

/**
* @desc         expertise component styles
* @requires     variables, mixins
*/
.expertise {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 1.8rem;
}
.expertise__item {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.expertise__title {
  font-family: "OpenSansBold", sans-serif;
  font-weight: 600;
}
.expertise__subtitle {
  color: #667081;
}
.expertise__description {
  font-size: 1.6rem;
}
.expertise__company, .expertise__position {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/**
* @desc         feedback component styles
* @requires     variables, mixins
*/
.feedback, .feedback__item {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.feedback__item {
  gap: 1.6rem;
}
.feedback__reporter {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.feedback__name {
  font-size: 1.4rem;
}
.feedback__cite {
  color: #26C17E;
}

/**
* @desc         address component styles
* @requires     variables, mixins
*/
.address {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.address__item {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.address__icon {
  color: #26C17E;
}
.address__title {
  font-family: "OpenSansSemiBold", sans-serif;
  color: black;
}
.address__subtitle {
  color: #667081;
}

/**
* @desc         portfolio component styles
* @requires     variables, mixins
*/
.portfolio {
  font-size: 2.5rem;
}
.portfolio__tabs {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 1.8rem;
}
.portfolio__tab {
  cursor: pointer;
}
.portfolio__tab--active {
  color: #26C17E;
}
.portfolio__tab:not(:last-child):after {
  content: "/";
  color: black;
  margin-left: 1.2rem;
}
.portfolio__items {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 1.8rem;
  height: auto !important;
}
.portfolio__item {
  position: static !important;
  width: 28rem;
}
.portfolio__card {
  position: relative;
  border: 2px solid #FFFFFF;
  width: 100%;
}
.portfolio__card-content:hover .portfolio__hover-content {
  border: 2px solid #EEEEEE;
  height: 99%;
}
.portfolio__hover-content {
  position: absolute;
  bottom: 3px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  width: 100%;
  height: 0;
  background-color: #FFFFFF;
  transition: height 0.3s ease;
}
.portfolio__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__title, .portfolio__description, .portfolio__highlight {
  padding: 0 1.4rem;
}
.portfolio__title, .portfolio__highlight {
  color: #26C17E;
}
.portfolio__description, .portfolio__highlight {
  font-size: 1.2rem;
}
.portfolio__title {
  font-size: 1.4rem;
}
.portfolio__highlight {
  text-decoration: underline;
}

/**
* @desc         timeline component styles
* @requires     variables, mixins
*/
.timeline {
  position: relative;
  overflow: auto;
  min-height: 30vh;
  max-height: 80vh;
}
.timeline__list, .timeline__date, .timeline__info {
  padding: 1.6rem;
}
.timeline__list {
  position: relative;
}
.timeline__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  width: 4px;
  margin-left: 2rem;
  background: #26c17e;
}
.timeline__date {
  position: relative;
  left: -22px;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 1.6rem;
  background: #fff;
}
.timeline__event {
  position: relative;
}
.timeline__info {
  background: #eee;
}
.timeline__info:after {
  content: "";
  position: absolute;
  top: 22px;
  left: -9px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #eee;
}

/**
* @desc         title component styles
* @requires     variables, mixins
*/
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title__text {
  color: #26C17E;
}

/**
* @desc         skills component styles
* @requires     variables, mixins
*/
.skills__edit {
  width: 100%;
  padding: 1.8rem;
  border: 1px solid #26C17E;
  border-radius: 0.8rem;
}
.skills__form > button {
  width: 11rem !important;
}
.skills__form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.6rem;
}
.skills__input-group {
  display: flex;
  align-items: center;
}
.skills__label {
  width: 10rem;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 1.6rem;
}
.skills__input {
  height: 3.2rem;
  padding: 0 1.2rem;
  border: 1px solid #667081;
  border-radius: 0.5rem;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 1.4rem;
}
.skills__input--error {
  border-color: #F44336;
}
.skills__error {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 1.2rem;
  color: #F44336;
}
.skills__wrapper, .skills__diagram {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.skills__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.8rem;
  background: #26C17E;
  font-size: 1.8rem;
  color: white;
}
.skills__text {
  padding: 0 1.2rem;
}
.skills__roadmap {
  display: flex;
  justify-content: space-between;
}
.skills__level {
  width: 100%;
  height: 1.2rem;
  border-bottom: 1px solid #667081;
  border-left: 1px solid #667081;
}
.skills__level:last-child {
  border-right: 1px solid #667081;
}
.skills__grade {
  width: 50%;
  font-size: 1.4rem;
  color: #667081;
}
.skills__grade:nth-child(2), .skills__grade:nth-child(3) {
  width: 100%;
  text-align: center;
}
.skills__grade:last-child {
  text-align: right;
}
.skills__grade, .skills__item {
  font-family: "OpenSansLight", sans-serif;
}

/**
* @desc         loader component styles
* @requires     variables, mixins
*/
.loader {
  color: #26C17E;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**
* @desc         error component styles
* @requires     variables, mixins
*/
.error {
  text-align: center;
  color: #F44336;
}

/**
* @desc         info component styles
* @requires     variables, mixins
*/
.info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.8rem;
  background: #EEEEEE;
}
.info__title {
  font-size: 1.8rem;
  font-family: "OpenSansSemiBold", sans-serif !important;
}
.info__text {
  font-size: 1.6rem;
}

/**
* @desc         button component styles
* @requires     variables, mixins
*/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background: #222935;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.2s;
}
.button:hover {
  background: #26C17E;
}
.button--active {
  background: #26C17E !important;
}
.button--disabled {
  background: #667081;
  color: black;
}

/*# sourceMappingURL=main.css.map */
