/**
* @desc         app styles
* @requires     variables, mixins, placeholders
*/

:root {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

html {
  @extend %webkit-scrollbar;
}

body {
  overflow: hidden;

  height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  position: relative;

  @include flex-row;

  &--home {
    @include flex-center;

    background: url("/images/greetingBg.png") no-repeat center;
    background-size: cover;
  }

  .scroll-to-top-button {
    position: fixed;
    bottom: 0;
    right: $fs-xxlarge;
    z-index: 99;

    padding: $fs-xsmall;

    border-top-right-radius: $button-border-radius;
    border-top-left-radius: $button-border-radius;

    background-color: $dark-color;

    font-size: 18px;
    color: white;

    cursor: pointer;
  }
}

.main-content {
  @include flex-column;
  gap: $section-gap;
  flex-grow: 1;
  overflow-y: scroll;

  width: 60vw;
  height: 100vh;
  padding: $main-padding;

  transition: margin-left 0.8s ease-in-out;
}

.main-content.expanded {
  margin-left: -$panel-desktop-width;

  @include breakpoint($lg) {
    margin-left: -$panel-mobile-width;
  }
}

section {
  @include flex-column;
  gap: $section-gap;
}

h1 {
  font-size: 4.5rem;
}

h3 {
  font-family: $ff-bold;
  font-size: $fs-xlarge;
}

p {
  font-family: $ff-regular;
  font-size: $fs-regular;
  line-height: $fs-medium;
}
