/**
* @desc         adds default text styles
* @requires     none
*/

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansBold";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansMedium";
  src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansLight";
  src: url("/fonts/OpenSans-Light.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}
